
/**
 * Defines the container object for popups that display this extension's contents.
 */
.AppMinimums {
  min-width: 400px;
  min-height: 500px;
}

/**
 * Standard unique identifiers.
 */
.UUID {
  font-family: "Courier New", monospace;
}